<!--Bottom Nav(Footer)-->
<footer>
    <nav class="navbar fixed-bottom  navbar-dark bg-dark">
      <div class="container-fluid text-color white" >
        
        <h4 class="navbar-brand display-6 navbar-text">&copy; Copyright 2023.  Noor Hatami.</h4>
      </div>
    </nav>
  </footer>