<!--Scripts-->
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js" defer></script>
<script src="/public/Scripts/app.js" defer></script>
</body>

</html>