<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>




    <div class="card mb-3 align-items-center" >
        <img class="about-img" src="Assets/images/selfie.jpg" class="card-img-top" alt="...">
        <div class="card-body align-items-center">
          <h5 class="card-title text-center fs-1">About Me</h5>
          <div class="w-100 p-3 text-center align-items-center ">
          <p class="card-textt lh-lg text-center align-items-center" >Hey! I am currently a 25 year old full time student enrolled in Centennial College graduating in Software Engineering. Hope to become a well developed full stack developer.
            Specializing in Web Dev and C#. Have a lot to learn and experience in the Software world, but I will accomplish my goal. Most of my hobbies include being active , 
            video games with friends, eating and sleeping. Here is my resume if you'd like to connect! <a href="/public/Assets/NoorsResume2023.pdf" target="_blank">Resume</a>
          </p>
        </div>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
     
 
  
   
    
  
  

<%- include partials/bottom_nav.ejs %>

  

<%- include partials/footer.ejs %>
