<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">My Projects</h1>
        <p class="lead text-muted">As I am a student still, I haven't worked on really any projects yet besides school assignments. So here are some links to my simple
            assignments I have made in the past.
        </p>
        <p>
          
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="Assets/images/Logo.JPG" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">This is the current project I am working on. It is my Portfolio Website using ExpressJS and implementing the EJS templating engine hosted on a cloud service.
                    Fully developed by my lonesome.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                   
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="Assets/images/project2.JPG" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Assignment 4 from Semester 2 Web Dev class. In this project I used Javascript to create a lightbox and modals. Loaded these images into the modals and lightboxes while creating a progress bar
                    of each image loading in seperate times using Timeout function </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="http://studentweb.cencol.ca/nhatami1/comp125/assignment4/assignment4.html">View</a></button>
                    
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="Assets/images/project3.JPG" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">My First HTML Canvas game I created last semester. It is a whack-a-mole game using HTML Canvas and Javascript. Using cute little moles , I used Javascript functions
                    to make them appear in holes I created using CSS and JS. Everytime you whack-a-mole the speed in which they appear increases and it counts your score. Give it a try!
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="http://studentweb.cencol.ca/nhatami1/comp125/assignment3/assignment3.html">View</a></button>
                    
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>

          
          
          

          
         
        </div>
      </div>
    </div>

  </main>

  
  

<%- include partials/bottom_nav.ejs %>

  

<%- include partials/footer.ejs %>
