<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>



<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center" >
  <div><img  class= "background" src="Assets/images/Logo.JPG"></div>
  
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Welcome!</h3>
    
    </div>
  </header>

  <!--Welcome Message-->
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Hello!I am Noor Hatami</h1>
    <p class="lead">Keeping it simple as life should be</p>
    <p class="lead">
      <a href="/about" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  
</div>
  
  

<%- include partials/bottom_nav.ejs %>

  

<%- include partials/footer.ejs %>

